body {
  background-color: #fcd3d3; /* Fondo  */
}

.caja {                         /* caja de texto*/
font-family: sans-serif; 
font-size: 18px; 
font-weight: 400; 
padding: 20px;
margin: 10px;
color: #121111; 
background:#f8c9dd }

.artista{
  font-family: sans-serif; 
font-size: 18px; 
font-weight: 400; 
padding: 20px;
margin: 10px;
width: 200px ;
height: 180px;
color: #121111; 
background:#f8c9dd 
}


.foto1{

margin: 18px;
width: 240px ;
height: 220px;

}

